<header>
	<div id="title">
		<div id="left">
			<a href="javascript:;" class="back" onclick="Visma_Navigation.goBack()">&nbsp;</a>
		</div>
		<img src="img/logo.png">
		MyChance
		<div id="right"></div>
	</div>
</header>
<a href="javascript:;" id="dropdown" onclick="app.dropdown()">&nbsp;</a>
<nav>
	<ul>
		<li><a href="javascript:;" onclick="app.logout()">Logg ut</a></li>
	</ul>
</nav>
<section id="content">
	<div class="text-center-splash">
		<img src="img/my_chance__refresh.png" class="loading_rotate">
		<br><br>Laster<br>Vennligst vent
	</div>
</section>
<script>
var leadid = Visma_Request.get('leadid');
if(leadid == ''){
	alert('Ingen leadID sendt!');
	Visma_Navigation.navigate('home');
} else {
	Visma_Request.post(Visma_Config.getApiUrl('lead'), 'userid=' + Visma_Oaut.getToken('VLPOauthToken') + '&leadid=' + leadid, function(data){
		if(data.success == true){
			$("#mainContent").empty().html(data.data);
			leadInit();
		} else {
			alert("En uventet feil oppstod");
			console.log(data);
		}
	});
}
/**
 * Pageload for leads
 */
function leadInit(){
	resizeData();
	$(window).resize(resizeData);

	// Picking a case
	$("#actionPickCase").click(function(){
		popup('<img src="img/my_chance__refresh.png" class="loading_rotate"><br><br>Laster<br>Vennligst vent', 170);
		Visma_Request.post(Visma_Config.getApiUrl('pick'), 'userid=' + Visma_Oaut.getToken('VLPOauthToken') + '&leadid=' + leadid, function(data){
			if(data.success == true){
				popupClose();

				if(parseInt(data.data.LeadPickedByPersonId) != parseInt(Visma_Oaut.getToken('VLPOauthToken'))){
					popup('<h2>Beklager!</h2>Dette leadet er allerede<br>plukket av noen andre<br><a href="javascript:;" onClick="popupClose();Visma_Navigation.navigate(\'home\');" class="submit popup">OK</a>', 206);
				} else {
					Visma_Navigation.navigate('lead');
				}
			} else {
				alert("En uventet feil oppstod");
				console.log(data);
			}
		});
		return false;
	});

	// Sending a case via mail
	$("#actionSendCase").click(function(){
		popup('<img src="img/my_chance__refresh.png" class="loading_rotate"><br><br>Laster<br>Vennligst vent', 170);
		Visma_Request.post(Visma_Config.getApiUrl('sendLead'), 'userid=' + Visma_Oaut.getToken('VLPOauthToken') + '&leadid=' + leadid, function(data){
			if(data.success == true){
				popupClose();
				if(data.data == false){
					popup('<h2>Oops!</h2>Det oppstod en feil, kontakt system administrator for mer info<br><a href="javascript:;" onClick="popupClose();" class="submit popup">OK</a>', 206);
				} else {
					popup('<h2>E-post sendt!</h2>Leadet er sendt til din epost<br><a href="javascript:;" onClick="popupClose();" class="submit popup">OK</a>', 206);
				}
			} else {
				alert("En uventet feil oppstod");
				console.log(data);
			}
		});
		return false;
	});

	// Transferring a case
	$("#actionTrasferr").click(function(){
		Visma_Navigation.navigate("transferr");
		return false;
	});

	// Rejecting a case
	$("#actionReject").click(function(){
		Visma_Navigation.navigate("reject");
		return false;
	});

	// Giving feedback on a case
	$("#actionFeedback").click(function(){
		Visma_Navigation.navigate("statuses");
		return false;
	});

	// Calling the user
	$("#actionCall").click(function(){
		return true;
	});

	// SMSing the user
	$("#actionSms").click(function(){
		Visma_Navigation.navigate("predefsms");
		return false;
	});

	// Emailing the user
	$("#actionEmail").click(function(){
		Visma_Navigation.navigate("predefemail");
		return false;
	});
}

// Function that will make sure that there is no h-scroll
function resizeData(){

	// Getting the reference
	var reference = $(window).width();
	var steps = 3; // How many charachters to remove

	// Getting the startposition
	var selected = $("#content ul.data li:first-child span.label");
	var offset = $(selected).offset();
	var width = $(selected).outerWidth(true);
	var left = parseInt(offset.left) + width;

	// Formatting if long values
	$("#content ul.data li").not(".product").each(function(){
		var overshoot = reference - ( left + $("span.value", this).outerWidth(true) );
		if(overshoot < 50){
			while (overshoot < 50) {
				var html = $("span.value", this).html();
				html = html.substring(0, ( html.length - steps ));
				$("span.value", this).html(html);
				overshoot = reference - ( left + $("span.value", this).outerWidth(true) );
				console.log('Shrinked with ' + steps + ' steps with new overshoot value of ' + overshoot);
			}

			// Adding the trail
			html = $("span.value", this).html();
			$("span.value", this).html(html + "...");
		}
	});
}
</script>
