<header>
	<div id="title">
		<div id="left">
			<a href="javascript:;" class="back" onclick="Visma_Navigation.goBack()">&nbsp;</a>
		</div>
		<img src="img/logo.png">
		MyChance
		<div id="right"></div>
	</div>
</header>
<a href="javascript:;" id="dropdown" onclick="app.dropdown()">&nbsp;</a>
<nav>
	<ul>
		<li><a href="javascript:;" onclick="app.logout()">Logg ut</a></li>
	</ul>
</nav>
<section id="content">
	<div class="text-center-splash">
		<img src="img/my_chance__refresh.png" class="loading_rotate">
		<br><br>Laster<br>Vennligst vent
	</div>
</section>
<script>
var leadid = Visma_Request.get('leadid');
if(leadid == ''){
	alert('Ingen leadID sendt!');
	Visma_Navigation.navigate('home');
} else {
	Visma_Request.post(Visma_Config.getApiUrl('predefemail'), 'userid=' + Visma_Oaut.getToken('VLPOauthToken') + '&leadid=' + leadid, function(data){
		if(data.success == true){
			$("#mainContent").empty().html(data.data);

			// Giving feedback on a case
			$("#actionFeedback").click(function(){
				Visma_Navigation.navigate("statuses");
				return false;
			});

			// Onclick to show the feedback
			$("#predefemailslist a").click(function(){
				$("#actionFeedback").removeClass("hide");
			});
		} else {
			alert("En uventet feil oppstod");
			console.log(data);
		}
	});
}
</script>
