<header>
	<div id="title">
		<div id="left">
			<a href="javascript:;" class="back" onclick="Visma_Navigation.goBack()">&nbsp;</a>
		</div>
		<img src="img/logo.png">
		MyChance
		<div id="right"></div>
	</div>
</header>
<a href="javascript:;" id="dropdown" onclick="app.dropdown()">&nbsp;</a>
<nav>
	<ul>
		<li><a href="javascript:;" onclick="app.logout()">Logg ut</a></li>
	</ul>
</nav>
<section id="content">
	<div class="text-center-splash">
		<img src="img/my_chance__refresh.png" class="loading_rotate">
		<br><br>Laster<br>Vennligst vent
	</div>
</section>
<script>
Visma_Request.post(Visma_Config.getApiUrl('statuses'), '', function(data){
	if(data.success == true){
		$("#mainContent").empty().html(data.data);
		statusestInit();
	} else {
		alert("En uventet feil oppstod");
		console.log(data);
	}
});

function statusestInit(){
	// Click
	$("#statuses li a").click(function(){
		var leadid = Visma_Request.get('leadid');
		if(leadid == ''){
			alert('Ingen leadID sendt!');
			popupClose();
			Visma_Navigation.navigate('home');
		} else {
			if($(this).find("span").is(".cancel")){
				Visma_Navigation.navigate('lost');
			} else {
				Visma_Navigation.navigate('feedback', 'leadid=' + leadid + '&statusid=' + $(this).attr("data-status-id"));
				return false;
				/*popup('<img src="img/my_chance__refresh.png" class="loading_rotate"><br><br>Laster<br>Vennligst vent', 170);
				Visma_Request.post(Visma_Config.getApiUrl('setstatus'), 'userid=' + Visma_Oaut.getToken('VLPOauthToken') + '&leadid=' + leadid + '&statusid=' + $(this).attr("data-status-id"), function(data){
					if(data.success == true){
						popupClose();
						Visma_Navigation.navigate('home');
					} else {
						alert("En uventet feil oppstod");
						console.log(data);
					}
				});*/
			}
		}
		return false;
	});
}
</script>
