<header>
	<div id="title">
		<div id="left">
			<a href="javascript:;" class="back" onclick="Visma_Navigation.goBack()">&nbsp;</a>
		</div>
		<img src="img/logo.png">
		MyChance
		<div id="right">
			<a href="javascript:;" onclick="app.logout()">X</a>
		</div>
	</div>
</header>
<section id="content">
	<div id="thisLead">
		<div class="text-center-splash">
			<img src="img/my_chance__refresh.png" class="loading_rotate">
			<br><br>Laster<br>Vennligst vent
		</div>
	</div>
</section>
<script>
Visma_Request.post(Visma_Config.getApiUrl('colleagues'), 'userid=' + Visma_Oaut.getToken('VLPOauthToken'), function(data){
	if(data.success == true){
		$("#mainContent").empty().html(data.data);
		transferrInit();
	} else {
		alert("En uventet feil oppstod");
		console.log(data);
	}
});

function transferrInit(){
	$("#searchColleagues input#username").keyup(function(){
		// When value of the input is not blank
		if( $(this).val() != "") {
			$("#colleagues li").hide();
			$("#colleagues li a span:contains-ci('" + $(this).val() + "')").parent("a").parent("li").show();
		} else {
			$("#colleagues li").show();
		}
	});
	
	// Click
	$("#colleagues li a").click(function(){
		popup('<img src="img/my_chance__refresh.png" class="loading_rotate"><br><br>Laster<br>Vennligst vent', 170);
		
		var leadid = Visma_Request.get('leadid');
		if(leadid == ''){
			alert('Ingen leadID sendt!');
			popupClose();
			Visma_Navigation.navigate('home');
		} else {
			Visma_Request.post(Visma_Config.getApiUrl('transferr'), 'userid=' + Visma_Oaut.getToken('VLPOauthToken') + '&leadid=' + leadid + '&newuserid=' + $(this).attr("data-id"), function(data){
				if(data.success == true){
					popupClose();
					Visma_Navigation.navigate('home');
				} else {
					alert("En uventet feil oppstod");
					console.log(data);
				}
			});
		}
		return false;
	});
}
</script>